#modalName {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: -1px;
}

#passwordInput,
#hintButton {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}