#modalUsername {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: -1px;
}

#passwordInput,
#hintButton {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
        max-width: 350px;
        /* New width for default modal */
    }
}