#CheckModalUsername {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -1px;
}

#CheckPasswordInput {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media screen {
    .modal-dialog {
        max-width: 400px;
        /* New width for default modal */
    }
}